.footer{
  background: #000;
  color: #fff;
  padding: rem(25) 0;
  &__wrapper{
    width: rem(475);
    margin-left: auto;
    div{
      margin-bottom: rem(10);
      font-size: rem(20);
      line-height: rem(28);
    }
  }
}