.header{
  height: 100vh;
  position: relative;
  color: #fff;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
  .background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: none;
    }
    .active{
      display: block;
    }
  }
  .elements{
    position: absolute;
    bottom: rem(15);
    left: 50%; 
    display: flex;
    transform: translateX(-50%);
    &__item{
      display: block;
      height: rem(15);
      width: rem(75);
      background: #6E7F80;
      margin: 0 rem(10);
    }
    .item_active{
      background: #fff;
    }
  }
}